@import url(https://fonts.googleapis.com/css?family=Raleway);


*{
    /* font-family: Dax, sans-serif;    */
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.content {
    padding: 5%;
}

.btn-tile-red {
    background-color: #E30614;
    margin: -2px;
    padding: 0;
    border: 0;
    width: 300px;
    height: 300px;
    transition-duration: 0.4s;
    color: #FFFFFF;
    font-size: 25px;
}

.btn-tile-orange {
    background-color: #FD4E00;
    margin: -2px;
    padding: 0;
    border: 0;
    width: 300px;
    height: 300px;
    transition-duration: 0.4s;
    color: #FFFFFF;
    font-size: 25px;
}

.btn-tile-pink {
    background-color: #E50159;
    margin: -2px;
    padding: 0;
    border: 0;
    width: 300px;
    height: 300px;
    transition-duration: 0.4s;
    color: #FFFFFF;
    font-size: 25px;
}

.btn-tile:hover{
    background-color: #E50159;
}


:root {
    --primary-color: #e30613;
    --secondary-color: #2f255c;
  }
  
  @font-face {
    font-family: sancoale-narrow-bold;
    src: url(../fonts/SancoaleNarrowBold.ttf);
  }
  
  #logo1 {
    height: 53px;
    width: 135px;
    margin: 10px;
  }
  
  #logof {
    height: 73px;
    width: 178px;
  }
  
  body {
    width: 100%;
  }
  
  .custom-nav1 {
    background-color: var(--secondary-color);
    color: white;
  }
  
  .custom-link {
    color: white;
    font-family: sancoale-narrow-bold;
    font-size: 20px;
    letter-spacing: 0.05em;
  }
  
  .custom-link:hover {
    color: var(--primary-color);
  }
  
  .custom-link:focus {
    color: var(--primary-color);
  }
  
  #custom-icon {
    color: white;
    font-size: 28px;
  }
  
  #custom-icon:hover {
    color: var(--primary-color);
  }
  
  .footer-body {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
  }
  
  .custom-footer {
    color: white;
    font-family: sancoale-narrow-bold;
    font-size: 20px;
    letter-spacing: 0.05em;
    margin: 10px;
    max-width: 275px;
    padding: 10px;
  }
  
  p::selection {
    background: var(--primary-color);
    color: white;
  }
  
  a::selection {
    background: var(--primary-color);
    color: white;
  }
  
  .container {
    height: 85.75vh;
    background-color: #ffffff;
  }
  