/* COMMON CSS */
:root {
  --primary-color: #e30613;
  --secondary-color: #2f255c;
}

@font-face {
  font-family: sancoale-narrow-bold;
  src: url(../fonts/SancoaleNarrowBold.ttf);
}

#logo {
  height: 80px;
  width: 130px;
}

#logo1 {
  height: 53px;
  width: 135px;
  margin: 10px;
}

#logof {
  height: 73px;
  width: 178px;
}

.custom-nav1 {
  background-color: var(--secondary-color);
  color: white;
}

.custom-nav {
  background-color: var(--secondary-color);
  color: white;
}

.custom-link {
  color: white;
  font-family: sancoale-narrow-bold;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.custom-link:hover {
  color: var(--primary-color);
}

.custom-link:focus {
  color: var(--primary-color);
}

#custom-icon {
  color: white;
  font-size: 28px;
}

#custom-icon:hover {
  color: var(--primary-color);
}

.footer-body {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
}

.custom-footer {
  color: white;
  font-family: sancoale-narrow-bold;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.custom-footer > div::selection {
  background: var(--primary-color);
  color: white;
}

a::selection {
  background: var(--primary-color);
  color: white;
}

.container {
  background-color: #f5f5f5;
  max-width: 1200px;
  /* Set a maximum width for the container to prevent the sidebar from overlapping other elements */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  padding: 48px 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  width: 200px;
  /* Set a fixed width for the sidebar */
  overflow-y: auto;
  /* Add scrollbars to the sidebar if it exceeds the height of the viewport */
}

.sidebar-nav {
  margin-top: 24px;
}

.sidebar-nav a {
  display: block;
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar-nav a:hover {
  background-color: #eee;
}

.sidebar-nav .active {
  background-color: #007bff;
  color: #fff;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links li {
  padding: 0;
  margin: 0;
}

.accordion-header > button {
  background-color: black;
  color: white;
  font-family: sancoale-narrow-bold;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.accordion-item {
  border: none;
  border-bottom: 0.25px solid #333333;
}

.accordion-body {
  background-color: black;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
  background: black;
  color: white;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}


/* COMMON CSS */


*{
    
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.content {
    padding: 5%;
}

.btn-tile-red {
    background-color: #E30614;
    margin: -2px;
    padding: 0;
    border: 0;
    width: 300px;
    height: 300px;
    transition-duration: 0.4s;
    color: #FFFFFF;
    font-size: 25px;
}

.btn-tile-orange {
    background-color: #FD4E00;
    margin: -2px;
    padding: 0;
    border: 0;
    width: 300px;
    height: 300px;
    transition-duration: 0.4s;
    color: #FFFFFF;
    font-size: 25px;
}

.btn-tile-pink {
    background-color: #E50159;
    margin: -2px;
    padding: 0;
    border: 0;
    width: 300px;
    height: 300px;
    transition-duration: 0.4s;
    color: #FFFFFF;
    font-size: 25px;
}

.btn-tile:hover{
    background-color: #E50159;
}


:root {
    --primary-color: #e30613;
    --secondary-color: #2f255c;
  }
  
  @font-face {
    font-family: sancoale-narrow-bold;
    src: url(../fonts/SancoaleNarrowBold.ttf);
  }
  
  #logo1 {
    height: 53px;
    width: 135px;
    margin: 10px;
  }
  
  #logof {
    height: 73px;
    width: 178px;
  }
  
  body {
    width: 100%;
  }
  
  .custom-nav1 {
    background-color: var(--secondary-color);
    color: white;
  }
  
  .custom-link {
    color: white;
    font-family: sancoale-narrow-bold;
    font-size: 20px;
    letter-spacing: 0.05em;
  }
  
  .custom-link:hover {
    color: var(--primary-color);
  }
  
  .custom-link:focus {
    color: var(--primary-color);
  }
  
  #custom-icon {
    color: white;
    font-size: 28px;
  }
  
  #custom-icon:hover {
    color: var(--primary-color);
  }
  
  .footer-body {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
  }
  
  .custom-footer {
    color: white;
    font-family: sancoale-narrow-bold;
    font-size: 20px;
    letter-spacing: 0.05em;
    margin: 10px;
    max-width: 275px;
    padding: 10px;
  }
  
  p::selection {
    background: var(--primary-color);
    color: white;
  }
  
  a::selection {
    background: var(--primary-color);
    color: white;
  }
  
  .container {
    height: 85.75vh;
    background-color: #ffffff;
  }
  